version: '3.8'

services:
  # OpenMRS Application Server
  openmrs:
    image: openmrs/openmrs-reference-application-distro:latest
    container_name: openmrs_server
    restart: always
    environment:
      - DATABASE_HOST=openmrs_db
      - DATABASE_NAME=openmrs
      - DATABASE_USER=openmrs
      - DATABASE_PASSWORD=openmrs
      - MODULES_TO_INSTALL=FHIR2:1.8.0,oauth2:1.0.0
    depends_on:
      - openmrs_db
    ports:
      - "8080:8080"
    volumes:
      - openmrs_data:/openmrs/data

  # MySQL Database for OpenMRS
  openmrs_db:
    image: mysql:8.0
    container_name: openmrs_database
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=openmrs
      - MYSQL_USER=openmrs
      - MYSQL_PASSWORD=openmrs
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - openmrs_db_data:/var/lib/mysql
      - ./init-openmrs.sql:/docker-entrypoint-initdb.d/init-openmrs.sql

  # Nginx Reverse Proxy for HTTPS
  nginx_proxy:
    image: nginx:stable-alpine
    container_name: openmrs_nginx_proxy
    restart: always
    ports:
      - "8443:443"
      - "8081:80"
    depends_on:
      - openmrs
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/certs:/etc/nginx/certs:ro

volumes:
  openmrs_data:
  openmrs_db_data: